.total{
	border: 40px solid royalblue;
	padding-left: 70px;
	padding-right: 70px;
}

.title{
	color: mediumseagreen;
	text-transform: capitalize;
	font-size: 150%;
	padding-top: 1px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 30px;
	border: 10px solid transparent;
	border-image: repeating-linear-gradient(-45deg, white, white 5px, #D3D3D3 5px, #D3D3D3 10px) 7;
	border-right: white;
	border-left: white;
}

.title_tt{
	float: left;
}

.subtitle{
	color: gray;
	font-size: 50%;
	padding-top: 50px;
	padding-bottom: 0px;
	text-align: right;
}

.navigate{
	padding-top: 10px;
	text-transform: fantasy;
}

.navigate_a{
	text-decoration: none;
	color: black;
	padding-right: 150x;
	font-size: 100%;
}

.navigate_ab{
	text-decoration: none;
	padding-right: 100px;
	padding-left: 100px;
}

.navigate__img{
	width: 100%;
	height: 40%;
}

.cont{
	float:left;
    clear: none;
    padding-top: 20px;
}

.tcontent{
	border: 2px solid gray;
	text-align: left;
	width: 49.7%;
	float: left;
	padding-bottom: 10px;
	border-top: white;
	border-bottom: white;
	border-left: white;
	margin-left: 20px;
	padding-right: 20px; 
}

.trcontent{
	border: 2px solid gray;
	text-align: left;
	width: 49.7%
	float: right;
	padding-bottom: 100px;
	border-top: white;
	border-bottom: white;
	border-right: white;
	border-left: white;
	margin-right: 20px;
	margin-left: 710px;
}

.tcontent_title{
	color: darkblue;
}

.trcontent_title2{
	color: orange;
}

.tcontent_extent{
	text-decoration: none;
	color: limegreen;
}

.foot{
	text-align: center;
	color: lightslategray;
}

.more{
	margin: 1px;
	color: lightgray;
	
}